.emoji{
    padding-left: 900px;
    block-size: 200px;
    top: -2px; 
    position: relative;
}

li{
    width: 205px;
}

.container{
    padding-left: 25px;
}

.vertical-menu{
    position: relative;
    block-size: 200px;
    top: -9px; 
    padding-left: 500px;
}


.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: black;
    color: white;
}

