<br>

<div id="container">
<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4 vertical-menu">
      <a href="#" class="active" style="background-color: #101010;">Channals</a>
      <ul>
          <li *ngFor="let channal of channelList">
            <a (click)="call(channal.link)">{{ channal.description }}</a>
          </li>
      </ul>

    <br><br><br>
    <div>
        <a href="#" class="active" style="background-color: #101010;width:220px;padding-top:10px;">User Id</a>
      <input type="text" id="userId" [(ngModel)] ="userId" style="width:220px;" >
    </div>
  </div>
 
  <div class="col-sm-9 col-md-6 col-lg-8">
    <!-- Router Outlet -->
    <router-outlet></router-outlet>
  </div>
</div>

</div>
