<br>

<div id="container">
<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4 vertical-menu">
    <a href="#" class="active" style="background-color: #101010;">Recommanded</a>
    <a href="link1" id="link1" onclick="call(link1)">I am afraid</a>
    <a href="link2" id="link2" onclick="call(link2)">The place is very horrible</a>
    <a href="link3" id="link3" onclick="call(link3)">I am feeling happy</a>
    <a href="link4" id="link4" onclick="call(link4)">I am in joy</a>
    <br><br><br>
    <div>
      User Id : <input type="text" id="userId">
    </div>
  </div>
  


  <div class="col-sm-9 col-md-6 col-lg-8">
    <!-- Router Outlet -->
    <router-outlet></router-outlet>
  </div>
</div>

</div>
